body {
    background-color: white;
    margin: 2%;
}

.container{
    padding: 10%;
    background-color: whitesmoke;
    border-radius: 7%;
    border: solid pink
}

#container-resultado{
    font-size: 24px;
    border-bottom:solid black;
    margin: 5%;
}

.form-control{
    border-color: palevioletred
}

.error {
    display: none;
}

#btn-calcular, #btn-limpar{
    width: 100%;
}